:root {
  --primary-clr-one: hsl(0, 0%, 100%);
  --primary-clr-two: hsl(0, 0%, 0%);
  --primary-clr-three: hsl(0, 0%, 55%);
  --primary-clr-four: hsl(0, 0%, 41%);

  --box-shadow: hsla(0, 0%, 0%, 0.2);
}
