.footer__logo {
  max-width: 9rem;

  margin-bottom: 2rem;

  @media (hover: hover) {
    &:is(:hover, :focus, :focus-visible) {
      outline: solid 0.13rem var(--primary-clr-one);
      outline-offset: 0.25rem;
      transition: var(--transition);
    }
  }
}

@media (min-width: 50rem) {
  .footer__logo {
    max-width: 9rem;
    margin-bottom: 1.5rem;
  }
}
